<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{header.buffets})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div align="center">
    	<h4 th:text="#{header.buffets}">Lista dei buffet</h4>
		<ul>
			<li th:each="buffet : ${buffets}">
				<a href="buffet.html" 
				   th:href="@{'/admin/buffet' + '/' + ${buffet.id}}" 
				   th:text="${buffet.nome}">Buffer buono</a>
				    
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>