<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{header.chefs})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div align="center">
    	<h4 th:text="#{header.chefs}">Lista degli chef</h4>
		<ul>
			<li th:each="chef : ${chefs}">
				<a href="/admin/chef.html" 
				   th:href="@{'/admin/chef' + '/' + ${chef.id}}" 
				   th:text="${chef.nome} + '  ' + ${chef.cognome} ">Buffer buono
				   </a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>