<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{header.ingredienti})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div align="center">
    	<h4 th:text="#{header.ingredienti}">Lista degli ingredienti</h4>
		<ul>
			<li th:each="ingrediente : ${ingredienti}">
				<a href="ingrediente.html" 
				   th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}" 
				   th:text="${ingrediente.nome}">Buffer buono</a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>